{% extends 'base.html' %}
{% block content %}

<h1>Song List</h1>

{% for song in songs%}
    <div class="card">
    <a href="{% url 'detail' song.id %}">
        <div class="card-content">
            <span class="card-title">{{ song.song }}</span>
            <p>Genre: {{ song.genre }}</p>
            {% if song.rating > 0 %}
            <p> Rating: {{ song.rating }}</p>
            {% else %}
            <p>Rating: No Rating</p>
            {% endif %}
        </div>
     </a>
    </div>
{% endfor %}

{% endblock %}